[Desktop Entry]
Name=Virual Studio
Comment=Code Editing. Redefined.
GenericName=Text Editor
Exec=/usr/share/code/code --unity-launch %F
Icon=/usr/share/pixmaps/code.png
Type=Application
StartupNotify=true
StartupWMClass=vscode
Categories=Utility;TextEditor;Development;IDE;
MimeType=text/plain;inode/directory;
Actions=new-empty-window;
Keywords=vscode;

